@use '../../variables' as *;

.login {
  .auth-footer {
    margin-top: 24px;
    text-align: center;

    p {
      color: $text-secondary;
      font-size: $font-size-sm;
      margin: 0;

      a {
        color: $primary-blue;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.2s;

        &:hover {
          color: $primary-light;
        }
      }
    }
  }
}

