@use '../../variables' as *;
@use '../../mixins' as *;

.welcome-card {
  @include card-style;
  padding: 32px;
  margin-bottom: 32px;

  h2 {
    font-size: $font-size-2xl;
    color: $text-primary;
    margin: 0 0 8px 0;
  }

  .welcome-role {
    color: $primary-blue;
    font-size: $font-size-sm;
    font-weight: 600;
    margin: 0 0 12px 0;
    text-transform: uppercase;
  }

  .welcome-description {
    color: $text-secondary;
    font-size: $font-size-sm;
    margin: 0;
  }
}

