@use '../../variables' as *;

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $dark-bg;

  .spinner {
    width: 50px;
    height: 50px;
    border: 4px solid $dark-border;
    border-top-color: $primary-blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

